.vscode/**
.vscode-test/**
client/**
node_modules/**
.gitignore
.eslintrc.json
tsconfig.json
**/*.map
**/*.ts
out/**
*.vsix
scripts/**

# Include bundled assets (don't ignore them)
!dist/**
!server/**
!sysml.library/**
